/* ------------swiper------------------ */
/* .swiper {
  width: 100%;
  height: 100%;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: var(--color-primary-variant); */

  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; */
  /* display: flex;s */
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------------------------- */

#portfolio {
  display: flex;
}
#portfolio .title {
  width: 16.66666667%;
  background-color: var(--color-primary-variant);
  border-right: 10px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#portfolio .title h1 {
  transform: rotate(-90deg);
  font-weight: 800;
  letter-spacing: 4px;
}
.works-container {
  height: 40vw;
  width: 85%;
  align-self: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.works {
  display: grid;
  width: 85%;
  height: 35vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.project-container {
  width: 100%;
  background-color: var(--color-primary-variant);
  height: 100%;
}
