header {
  padding-top: 7rem;
  height: 100vh;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 3rem;
  background-color: var(--color-primary);
}

.scroll__down {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: 60vh;
}

.star {
  position: absolute;
  width: 60px;
}
.string {
  position: absolute;
  width: 1px;
  height: 200px;
  background-color: #fbfefc31;
  left: 30px;
  top: -195px;
}

.laptop {
  position: absolute;
  z-index: -10;
  right: -250px;
  transform: rotate(-20deg);
  width: 800px;
}

.hero-title {
  padding-top: 5rem;
  color: var(--color-primary-variant);
  font-size: clamp(1.5rem, 5vw, 5rem);
  line-height: 1.4;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    97.54deg,
    #e7a28f 3.52%,
    #f9d6ac 41.89%,
    #fbfefc 96.77%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}

@media screen and (max-height: 700px) {
}
